
<%- include partials/header -%>

<!--

      current data

  -->
     <div class="container">
        <h3><%=data[0].name%>, <%=data[0].sys.country%></h3>
        <% var options = {day:'numeric',month:'long',year:'numeric'}; %>
        <h3> <%=new Date(data[0].dt*1000).toLocaleDateString('fr-CA',options)%> </h3>
        <span class="current-data">
            <img class="big-icon current-data" src="http://openweathermap.org/img/wn/<%=data[0].weather[0].icon%>@2x.png" alt=""/>
            <div class='current-weather'>
                <h1 class='degre'> <%= Math.round(data[0].main.temp) %></h1>
                <h2><%= data[0].weather[0].description %></h2>
            </div>
        </span>
     </div>

<!--
      form pour selectionner les previsions de la journee courrante ou le lendemain

  -->
     <div class="container">
        <form action="/" method="post">
        <div class='form-group'>
          <div class="btn-group">
              <%if (day=='today') { %>
                <button style='opacity:60%'class='button active' name='button' value='today' onclick='this.form.submit()'>Aujourdh'ui</button><!-- to prevent space betwwen button
                --><button  class='button' name='button' value='tomorrow' onclick='this.form.submit()'>Demain</button>
                <input type="hidden" name="city" value=<%=city%>>
                <input type="hidden" name="day" value=<%=day%>>
              <% } else { %>
                <button  class='button' name='button' value='today' onclick='this.form.submit()'>Aujourdh'ui</button><!-- to prevent space betwwen button
                --><button style='opacity:60%'  class='button active' name='button' value='tomorrow'onclick='this.form.submit()'>Demain</button>
                <input type="hidden" name="city" value=<%=city%>>
                <input type="hidden" name="day" value=<%=day%>>
              <%}%>
        </div>
        </div>
          </form>
    </div>

<!--

    affichage des previsions horaire (forecast data)

  -->
    <div class="forecast">
      <% todayDT    = new Date(data[0].dt*1000) %>
      <% tomorrowDT = new Date(); tomorrowDT.setDate(todayDT.getDate() + 1) %>
      <% if  (day=='today') {targetDate=todayDT.getDate()} else {targetDate=tomorrowDT.getDate()}%>
      <% data[1].list.forEach(function(item){ %>
          <% if (new Date(item.dt*1000).getDate()==targetDate) {%>
            <div class='forecast-group'>
              <div class='forecast-hour'><%= new Date(item.dt*1000).getHours()+"h" %></div>
              <div><img class="forecast-image" src="http://openweathermap.org/img/wn/<%=item.weather[0].icon%>@2x.png" alt=""></div>
              <div class='forecast-degre degre'><%= Math.round(item.main.temp) %></div>
            </div>
          <%}%>
      <% }); %>
    </div>

<%- include partials/footer -%>


</body>
</html>
